.container {
    padding: 7px 12px 7px 15px;
    margin: 5px 30px 5px 30px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

ul {
    padding-left: 27px;
}

li {
    padding: 2px 0 0 0;
}

.closed span + ul {
    display: none;
}

span:hover {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.dashed {
    border-bottom: 1px dashed darkgray;
}

span {
    : 1;
}

span:focus {
    /*outline: 1px dashed darkblue;*/
    outline: none;
    font-weight: bold;
    background-color: lightgrey;
    /*border-bottom: 1px solid blue;*/
}
