.container {
    padding: 7px 12px 7px 15px;
    margin: 5px 30px 5px 30px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

ul {
    padding-left: 27px;
}

li {
    padding: 2px 0 2px 0;
}

.closed span + ul {
    display: none;
}

span:hover {
    font-weight: bold;
}

.dashed {
    border-bottom: 1px dashed darkgray;
}